/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Styles */

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 540px;
    padding: 20px;
}

#display {
    width: 460px;
    border: 1px solid black;
    border-radius: 5px;
    height: 110px;
    padding: 10px;
    font-size: 80px;
    font-weight: 800;
    text-align: right;
}

#keyboard {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.button {
    width: 60px;
    height: 60px;
    /* display: inline; */
    margin: 20px;
    padding: 20px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.big {
    height: 100px;
    width: 100px;
    padding: 40px 10px 10px 10px;
}

#backspace_button {
    margin-left: 0px;
}

#equal_button {
    margin-right: 0px;
}